<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="imageContainer">
      <img
        src="{{ url_for('static', filename='images/Screenshot BI.png') }}"
        alt="Image 1"
      />
      <img
        src="{{ url_for('static', filename='images/Screenshot BI2.png') }}"
        alt="Image 2"
      />
      <img
        src="{{ url_for('static', filename='images/Screenshot BI3.png') }}"
        alt="Image 3"
      />
      <img
        src="{{ url_for('static', filename='images/Screenshot BI4.png') }}"
        alt="Image 4"
      />
      <img
        src="{{ url_for('static', filename='images/Screenshot BI5.png') }}"
        alt="Image 5"
      />
      <img
        src="{{ url_for('static', filename='images/Screenshot BI6.png') }}"
        alt="Image 6"
      />
      <img
        src="{{ url_for('static', filename='images/Screenshot BI7.png') }}"
        alt="Image 8"
      />
      <img
        src="{{ url_for('static', filename='images/Screenshot BI8.png') }}"
        alt="Image 8"
      />
    </div>
  </body>
</html>
